@charset "UTF-8";

body {
    padding-top: 70px;
}

.login-form {
    padding: 0 30px;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: medium solid blue;
}

.login-input-content {
    padding-bottom: 20px;
}

.button-link {
    display: -webkit-flex;
    display: flex;
}
