<!-- 検索窓あり -->
<header class="fixed-top" th:fragment="frag_search_header">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
		<!-- Container wrapper -->
		<div class="container-fluid">
			<!-- Toggle button -->
			<button class="navbar-toggler" type="button"
				data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<!-- Navbar brand -->
			<a class="navbar-brand mt-2 mt-lg-0" href="item_list.html"
				th:href="@{/}"> <img
				src="../static/img_aloha/rakurakuaroha_logo2.png"
				th:src="@{/img_aloha/rakurakuaroha_logo2.png}" class="bg-light"
				height="25" alt="Rakuraku aloha Logo" loading="lazy" />
			</a>
			<!-- Collapsible wrapper -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- Left links -->
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<!-- Search Form-->
						<form class="d-flex input-group w-auto" th:action="@{/search}"
							method="get">
							<input type="search" class="form-control rounded"
								placeholder="商品名" aria-label="Search"
								aria-describedby="search-addon" name="search_name"
								autocomplete="on" list="itemlist" />
							<datalist id="itemlist">
								<option th:each="item : ${itemList}" th:value="${item.name}"
									value="アサイーボウル"></option>
							</datalist>
							<span class="input-group-text border-0" id="search-addon">
								<button style="border: none" class="bg-info">
									<i class="fas fa-search"></i>
								</button>
							</span>
						</form>
					</li>
				</ul>
				<!-- Left links -->
			</div>
			<!-- Collapsible wrapper -->
			<!-- Right elements -->
			<div class="d-flex align-items-center">
				<!-- Icon -->
				<a class="text-reset me-3" th:href="@{/cart/show}"
					id="navbarDropdownMenuLink" role="button" aria-expanded="false">
					<i class="fas fa-shopping-cart"></i> <span
					class="badge rounded-pill badge-notification bg-danger"></span>
				</a>
				<!-- Avatar -->
				<div class="dropdown">
					<a class="dropdown-toggle d-flex align-items-center hidden-arrow"
						href="#" id="navbarDropdownMenuAvatar" role="button"
						data-mdb-toggle="dropdown" aria-expanded="false"> <i
						class="fa-solid fa-circle-user"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropdownMenuAvatar">
						<li>
							<form th:action="@{/log}" method="post">
								<input th:if="${session.user}" type="hidden"
									th:value="${session.user.id}" name="userId" />
								<button class="dropdown-item">注文履歴</button>
							</form>
						</li>
						<li><span sec:authorize="isAuthenticated()"><a
								class="dropdown-item" th:href="@{/user/logout}">ログアウト</a></span> <span
							sec:authorize="!isAuthenticated()"><a
								class="dropdown-item" th:href="@{/user/login}">ログイン</a></span></li>
					</ul>
				</div>
			</div>
			<!-- Right elements -->
		</div>
		<!-- Container wrapper -->
	</nav>
	<!-- Navbar -->
</header>


<header class="fixed-top" th:fragment="frag_header">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
		<!-- Container wrapper -->
		<div class="container-fluid">
			<!-- Toggle button -->
			<button class="navbar-toggler" type="button"
				data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<!-- Navbar brand -->
			<a class="navbar-brand mt-2 mt-lg-0" href="item_list.html"
				th:href="@{/}"> <img
				src="../static/img_aloha/rakurakuaroha_logo2.png"
				th:src="@{/img_aloha/rakurakuaroha_logo2.png}" class="bg-light"
				height="25" alt="Rakuraku aloha Logo" loading="lazy" />
			</a>
			<!-- Collapsible wrapper -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- Left links -->
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"></li>
				</ul>
				<!-- Left links -->
			</div>
			<!-- Collapsible wrapper -->
			<!-- Right elements -->
			<div class="d-flex align-items-center">
				<!-- Icon -->
				<a class="text-reset me-3" th:href="@{/cart/show}"
					id="navbarDropdownMenuLink" role="button" aria-expanded="false">
					<i class="fas fa-shopping-cart"></i> <span
					class="badge rounded-pill badge-notification bg-danger"></span>
				</a>
				<!-- Avatar -->
				<div class="dropdown">
					<a class="dropdown-toggle d-flex align-items-center hidden-arrow"
						href="#" id="navbarDropdownMenuAvatar" role="button"
						data-mdb-toggle="dropdown" aria-expanded="false"> <i
						class="fa-solid fa-circle-user"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropdownMenuAvatar">
						<li>
							<form th:action="@{/log}" method="post">
								<input th:if="${session.user}" type="hidden"
									th:value="${session.user.id}" name="userId" />
								<button class="dropdown-item">注文履歴</button>
							</form>
						</li>
						<li><span sec:authorize="isAuthenticated()"><a
								class="dropdown-item" th:href="@{/user/logout}">ログアウト</a></span> <span
							sec:authorize="!isAuthenticated()"><a
								class="dropdown-item" th:href="@{/user/login}">ログイン</a></span></li>
					</ul>
				</div>
			</div>
			<!-- Right elements -->
		</div>
		<!-- Container wrapper -->
	</nav>
	<!-- Navbar -->
</header>